<a href="https://colab.research.google.com/github/newmade01/CodingTest/blob/main/%EC%BD%94%ED%85%8C%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#성적이 낮은 순서로 학생 출력하기


num = int(input())
array = []
for i in range(num):
  input_data   = input().split()
  array.append((input_data[0], input_data[1]))


array = sorted(array, key=lambda x: x[1])

for x in array:
  print(x[0], end=' ')

2
하늘 3
바다 1
바다 하늘

이탤릭체 텍스트

In [ ]:
#두 배열의 원소 교체

n, k = map(int, input().split())
 
a = list(map(int, input().split()))
b = list(map(int, input().split()))

a.sort()
b.sort(reverse=True)
for i in range(k):
  if a[i] < b[i]:
    a[i], b[i] = b[i], a[i]
  else:
    break

print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26

In [ ]:
n, target = list(map(int, input().split()))

array = list(map(int, input().split()))

result =

In [ ]:
import sys

data = sys.stdin.readline().rstrip()

data =sys.stdin.readline().rstrip()

In [ ]:
def bi_sear(array, target, start, end): #인덱스 번호
  while(start <= end):
    mid = (start+end) // 2

    if array[mid]  == target:
      return mid  #타겟 값을 반환
    elif array[mid] > target:
      end = mid-1
    else:
      start = mid+1

    return None

n = int(input())
n_data = list(map(int, input().split()))
n_data.sort()


m= int(input())
m_data = list(map(int, input().split()))

for i in m_data:
  ans = bi_sear(n_data, i, 0, n-1)
  if ans != None
    print('yes', end=' ')
  else:
    print('no', end= ' ')

In [ ]:
n, m = list(map(int, input().split(' ')))

array = list(map(int, input.split()))

start = 0 
end = max(array)

result = 0

while(start <= end):
  total = 0
  mid = (start+end) //2
  for x in array:
    if x > mid:

In [ ]:
#다이나믹 프로그래밍

d = [0] * 100

def fibo(x):
  if x==1 or x==2:
    return 1

  if d[x] != 0:
    return d[x]

  d[x] = fibo(x-1) + fibo(x-2)
  return d[x]

print(fibo(99))

218922995834555169026

In [ ]:
#최소 한칸 이상 떨어지

n = int(input())
data = list(map(int, input().split()))


max_data = max(data)

In [ ]:
n = int(input()) 
def d(n):
  for i in str(n): n += int(i)
print(n)

a = set(list(range(1, 5000)))
b= set()

print(sum(a-b))

91
101

# DFS/BFS
- 많은 양의 데이터중 원하는 데이터를 찾는 과정

**스택 자료구조**

**큐**
- fom collections import deque

**재귀 함수**
- 팩토리얼 구현
- 유클리드 호제법: 최대공약수

In [ ]:
#유클리드 호제법
def gcd(a, b):
  if a%b ==0:
    return b
  else:
    return gcd(b, a%b)

print(gcd(192, 162))